@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Interantional Business Men</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>IBM</h2>
        <p>
            International Business Men son los ejecutivos de GNB (Gloiath National Bank) que vuelan por todo el mundo.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Productos disponibles.</h2>
        <p>Productos que disponen.</p><br />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ventas obtenidas.</h2>
        <p>Podrá ver la suma de las ventas de los productos.</p><br />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>